@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Heebo', sans-serif;
    /* overflow-x: hidden; */
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    padding: 20px;
    margin: 0 auto;
}
/* ---------------------HEADER---------------------- */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    /* margin-bottom: 160px; */
}
.menu{
    display: none;
}
.header .logo{
    font-size: 32px;
    line-height: 31.25px;
    font-weight: 600;
    color: rgba(33, 36, 61, 1);
    font-style: italic;
    transition: all 0.3s ease-in;
}
.header .logo:hover{
    text-decoration: underline;
}
.header .logo span{ 
    font-size: 32px;
    color: rgba(255, 100, 100, 1);
    transform: translateY(0px);
    display: inline-block;
    transition: all 0.3s ease-in;
}
.header .logo:hover{
    color: rgba(255, 100, 100, 1);
} 
.header .navLinks{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header .navLinks a{
    font-size: 20px;
    line-height: 29.38px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
}
.header .navLinks a:hover{
    color: rgba(255, 100, 100, 1);
}

/* --------------Hero Section ------------------- */
.heroSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
    min-height: 100vh;
}
.heroLeft{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}
.heroLeft h1{
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    color: rgba(33, 36, 61, 1);
}
.heroLeft p{
    font-size: 16px;
    line-height: 23.5px;
    font-weight: 500;
}
.heroLeft .btn{
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 100, 100, 1);
    max-width: 209px;
    font-size: 20px;
    line-height: 30px;
    padding: 9px 20px;
    font-weight: 500;
    border: 0.5px solid rgba(255, 100, 100, 1);
    transition: all 0.3s ease-in-out;
}
.heroLeft .btn:hover{
    background: rgba(255, 255, 255, 1);
    color: rgba(255, 100, 100, 1);
    border: 0.5px solid rgba(255, 100, 100, 1);
}
.heroSection .heroRight .eclipse::before{
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    background: rgba(237, 247, 250, 1);
    border-radius: 50%;
    width: 343px;
    height: 343px;
    z-index: -1;
}
.heroSection .heroRight .heroImg{
    width: 343px;
    height: 343px;
    object-fit:cover;
    border-radius: 50%;
    border-bottom: 5px solid ;
}
.heroSection .heroRight{
    position: relative;
}

/* ---------------------Recent Post -------------------- */
.recentSection{
    background: rgba(237, 247, 250, 1);
}
.recentTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}
.sectionHeading{
    font-size: 22px;
    line-height: 60px;
    font-weight: 400;
}
.recentTop a{
    font-size: 16px;
    line-height: 23.5px;
    font-weight: 400;
    color: rgba(0, 168, 204, 1);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}
.recentTop a:hover{
    color: rgba(255, 100, 100, 1);
}
.recentBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    gap: 20px;
}
.recentItem{
    background: rgba(255, 255, 255, 1);
    padding: 25px;
    transition: all 0.3s ease;
}
.recentItem:hover{
    box-shadow: 2px 2px 18px rgba(33, 36, 61, 1);
}
.recentBottom .recentItem h3{
    font-size: 26px;
    line-height: 38px;
    font-weight: 700;
    color: rgba(33, 36, 61, 1);
    margin-bottom: 20px;
}
.recentBottom .recentItem h4{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: rgba(33, 36, 61, 1);
    margin-bottom: 10px;
}
.recentBottom .recentItem span{
    color: rgba(0, 0, 0, 1);
    margin: 0 18px;
}
.recentBottom .recentItem p{
    font-size: 16px;
    line-height: 23px;
    color: rgba(33, 36, 61, 1);
}
/* -----------------------Featured works----------------- */
.workHeading{
    margin-top: 20px;
}
.workItem{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}
.workItem .workLeft img{
    width: 246px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.workItem img:hover{
    box-shadow: 2px 2px 18px rgba(33, 36, 61, 1);
}
.workRight h3{
    font-size: 30px;
    line-height: 44px;
    font-weight: 700;
    color: rgba(33, 36, 61, 1);
    transition: all 0.3s ease-in-out;
}
.workItem .workRight:hover h4 > span{
    background: rgba(255, 100, 100, 1);
}
.workItem:hover h3{
    color: rgba(255, 100, 100, 1);
}
.workRight h4{
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
    color: rgba(134, 149, 164, 1);
}
.workRight h4 > span{
    background: rgba(20, 40, 80, 1);
    color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    margin-right: 20px;
    border-radius: 16px;
    font-weight: 900;
    padding:  0 5px;
    transition: all 0.3s ease-in-out;
}
.workRight p{
    color: rgba(33, 36, 61, 1);
    font-size: 16px;
    line-height: 23px;
}

/* --------------------footer -------------------------- */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 182px;
    margin-top: 85px;
}
footer .iconImg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-bottom: 30px;
}
footer .iconImg img{
    cursor: pointer;
    transition: all 0.3s ease-in;
}
footer .iconImg img:hover{
    transform: rotate(360deg);
}

footer p{
    color: rgba(33, 36, 61, 1);
    font-size: 14px;
    line-height: 20px;font-weight: 400;
}


/* --------Media Queries ----------------- */
@media(max-width:767px){
    .container{
        max-width: 760px;
        padding: 10px;
        margin: 0 auto;
    }
    .header .logo{
        font-size: 24px;
    }
    .header .navLinks{
        display: none;
    }
    .menu{
        display: block;
    }
    .heroSection{
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 32px;
    }
    .heroSection .heroRight .heroImg{
        width: 243px;
        height: 243px;
    }
    .heroSection .heroLeft{
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .heroSection .heroLeft h1{
        font-size: 32px;
        line-height: 40px;
        width: 90%;
    }
    .heroSection .heroLeft p{
        font-size: 16px;
        line-height: 23px;
        width: 90%;
    }
    .workHeading,
    .sectionHeading{
        text-align: center;
        width: 100%;
    }
    .recentSection{
        padding-bottom: 40px;
    }
    .heroSection .heroRight .eclipse::before{
        top: 10px;
        left: -10px;
        width: 243px;
        height: 243px;
    }
    .recentItem{
        width: 90%;
    }
    .recentTop a{
        display: none;
    }
    .recentBottom{
        flex-direction: column;
        gap: 20px;
    }
    .featureWork{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .workItem{
        flex-direction: column;
    }
    .workItem .workLeft img{
        width: 340px;
    }
    .workRight h3{
        font-size: 24px;
        line-height: 30px;
    }
    .workRight h4{
        font-size: 16px;
        line-height: 23px;
    }
    .workRight p{
        font-size: 16px;
        line-height: 23px;
        width: 100%;
    }
}