@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    font-family: "Source Sans 3";
}
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: var(#F17228);
    border-radius: 3px;
}
body::-webkit-scrollbar-thumb {
    background: var(#FFB30E);
    border-radius: 2px;
}
.navbar{
    padding: 16px 0px;
    box-shadow: 0px 20px 40px 0px #FFAE004A, 0px 5px 10px 0px #FFAE0042;
    background: #ffffff;
}
.navbar form input{
    max-width: 140px;
}
.navbarButton{
    box-shadow: 0px 20px 40px 0px #FFAE004A, 0px 5px 10px 0px #FFAE0042;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color:linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    padding: 14px 24px;
    align-items: center;
    gap: 10px;
}
.hero{
    background: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 132px 0px;
}
.textContentWrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.textContentWrapper h1{
    font-size: 88px;
    line-height: 88px;
    color: #ffffff;
    padding-bottom: 15px;
}
.textContentWrapper h6{
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #504F4F;
    padding-bottom: 32px;
}
.cardBtns button{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #504F4F;
}
.cardBtns button.nav-link.active{
    color: #F17228;
    padding: 10px 24px;
    background: #F172281A;
}
.heroWrapper{
    position: relative;
    overflow: hidden;
}
.imgBox{
    position: absolute;
    max-width: 497px;
    bottom: -100px;
    right: 1%;
}
.menuSection{
    padding: 80px 0px;
}
.menuWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.menuItem{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.menuItem .menuImg{
    position: relative;
    max-width: 357px;
    border-radius: 16px;
}
.menuItem .menuImg img{
    width: 100%;
    border-radius: 16px;   
}
.menuItem .offerBox{
    position: absolute;
    bottom: 0%;
    background: #FFB30E;
    padding: 6px 18px;
    border-radius: 0px 32px 0px 16px;
    color: #ffffff;
    font-size: 68px;
    line-height: 72px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offerBox p{
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menuItem h6{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}
.menuItem h6 +p{
    display: inline-block;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    padding: 8px 16px;
    color: #F17228;
    background: #F1722833;
    border-radius: 8px;
} 
.food{
    background: #FEFAF1;
    padding-top: 82px;
    padding-bottom: 55px;
}

/* .foodSectionArrowsLeft */
@media(max-width:991px){
    .menuWrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:767px){
    .hero{
        padding-bottom: 52px;
    }
    .imgBox{
        position: static;
    }
    
}
@media(max-width:576px){
    .menuWrapper{
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
}