@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dm Sans', sans-serif;
    background: #fff;
}
a{
    text-decoration: none;
}
.btn{
    background: #25DAC5;
    color: #fff;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
}
.container{
    max-width: 1170px;
    margin: 0 auto 32px;
}
.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 70px;
}
header .header-left{
    display: flex;
    align-items: center;
    gap: 30px;
}
header .header-left .logo{
    font-size: 24px;
    color: #1E0E62;
    line-height: 31.25px;
    font-weight: bolder;
}
header .header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
header .header-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
}
header .header-list li{
    color: #15143966;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
}
.main-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: 110px;
}
.main-left h1{
    font-size: 42px;
    line-height: 52px;
    color: #1E0E62;
}
.main-left form{
    display: flex;
    flex-direction: column;
    width: 470px;
    margin-top: 80px;
}
.main-left form input{
    padding: 15px 30px;
    border-radius: 30px;
    margin-bottom: 1.8rem;
    font-size: 20px;
    color:#15143966 ;
    outline: none;
    border: 2px solid #EBEAED;
    font-family: 'Dm Sans';
    font-weight: 200;
}
.main-left form input::placeholder{
    color: #15143966;
    font-size: 20px;
}
.main-left form .main-btn{
    padding: 17px 30px;
    font-size: 20px;
    line-height: 26px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
.main-left form p{
    color: #15143966;
    margin-top: 16px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
.main-right .img-box{
    position: relative;
}
.main-right .img-box img{
    width: 470px;
    border-radius: 10px;
}
.main-right .img-box i{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #EA3223;
    color: #fff;
    padding: 25px 28px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.main-right p{
    width: 470px;
    color: #15143966;
    margin-top: 30px;
    font-size: 20px;
    line-height: 26px;
}