@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
:root{
    --TextPrimary: #FFFFFF;
    --SecondaryText: #393E46;
    --MainColor:#6C00FF;
    --SectionBackground:#EEEEEE;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "Heebo", sans-serif;
}
body::-webkit-scrollbar {
    width: 12px;
  }
  
body::-webkit-scrollbar-track {
    background: var(--SectionBackground);
    border-radius: 3px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--MainColor);
    border-radius: 2px;
  }
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: var(--TextPrimary);
}
.container{
    max-width: 1225px;
    margin: 0 auto;
    padding: 0 20px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 10px 32px;
    background: var(--MainColor);
    color: var(--TextPrimary);
    border-radius: 22px;
    margin-bottom: 100px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.btn:hover{
    background: var(--SectionBackground);
    color: var(--MainColor);
}
.sectionHeading{
    text-align: center;
    padding-top: 128px;
}
.sectionHeading h2{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: var(--MainColor);
    letter-spacing: 5px;
    padding-bottom: 16px;
}
.sectionHeading h3{
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
}
img{
    display: block;
}
/* ============================================
                   Header 
============================================ */
.MobileMenu{
    display: none;
}
.navBar{
    max-width: 1185px;
    background: transparent;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: var(--TextPrimary);
    transition: all 0.3s ease-in-out;
}
.header .logo:hover{
    color: var(--MainColor);
}
.navLinks{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 32px 0;
    text-transform: capitalize;
}
.navLinks a{
    padding: 6px 24px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--TextPrimary);
    transition: all 0.3s ease-in-out;
}
.navLinks a:hover{
    color: var(--MainColor);
}
.activeLink{
    border: 1px solid var(--TextPrimary);
    border-radius: 19px;
    transition: all 0.3s ease-in-out;
}
.activeLink:hover{
    border: 1px solid var(--MainColor);
    color: var(--MainColor);
}
/* ============================================
Hero Section 
============================================ */
.bannerMain{
    background: url(../Images/banner.png);
    max-width: 100vw;
    min-height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -88px;
}
.bannerContent{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.bannerContent h1{
    font-size: 72px;
    line-height: 101px;
    color: var(--TextPrimary);
    font-weight: 700;
    margin-bottom: 32px;
}
.bannerContent p{
    max-width: 576px;
    margin-bottom: 64px;
    opacity: 75%;
}
.btn img{
    margin-right: 10px;
}
.downArrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    animation: example 3s infinite;
}
.downArrow svg{
    color: var(--TextPrimary);
}
@keyframes example {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0px);
    }
  }
/* ============================================
                   Services 
============================================ */
.services .sectionHeading{
    margin-bottom: 64px;
}
.servicesItems{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 103px;
    margin-bottom: 128px;
}
.servicesItems .servicesItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.servicesItems .servicesItem .itemlogo{
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--MainColor);
    margin-bottom: 32px;
    transition: all 0.3s ease-in;
}
.servicesItems .servicesItem:hover .itemlogo{
    background: var(--SecondaryText);
}
.servicesItems .servicesItem h2{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 16px;
}
.servicesItems .servicesItem p{
    color: var(--SecondaryText);
}
/* ============================================
                   Features 
============================================ */
.features{
    margin-bottom: 128px;
}
.featureWrapper{
    display: flex;
    flex-direction: column;
    gap: 128px;
}
.featureItem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 127px;
}
.featureItem .featureLeft .sectionHeading{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 32px;
    text-align: left;
}
.featureItem .featureLeft .sectionHeading h3{
    font-size: 44px;
    line-height: 53px;
}
.featureItem .featureLeft > p{
    color: var(--SecondaryText);
    margin-bottom: 32px;
}
.featureItem .featureLeft ul li{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 16px;
    margin-bottom: 16px;
}
.featureItem .featureLeft ul li > p{
    color: var(--SecondaryText);
}
.featureItem .featureRight{
    max-width: 600px;
    padding: 35px; 
}
.featureItem .featureRight img{
    max-width: 475px;
    box-shadow: 32px 32px var(--MainColor);
    transition: all 0.3s ease-out;
}
.featureItem .featureRight img:hover{
    box-shadow: 0px 0px var(--MainColor);
    padding: 2px 0 0 2px;
}
.featureItem:nth-child(2) .featureRight img{
    box-shadow: -32px -32px var(--MainColor);
    transition: all 0.3s ease-out;
}
.featureItem:nth-child(2) .featureRight img:hover{
    box-shadow: 0px 0px var(--MainColor);
    padding: 0 2px 2px 0;
}
/* ============================================
                   Testimonials 
============================================ */
.testimonials{
    background: var(--MainColor);
}
.testimonialsWrapper .sectionHeading h2,
.testimonialsWrapper .sectionHeading h3{
    color: var(--TextPrimary);
}
.testimonialsWrapper{
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 62px;
}
.testimonialCard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    max-width: 778px;
    padding: 54px 70px 54px 101px;
    background: var(--TextPrimary);
    transition: all 0.3s ease-in;
}
.testimonialCard:hover{
    box-shadow: var(--SecondaryText) 0px 22px 70px 4px;
}
.testimonialCard .testRight > p{
    color: var(--SecondaryText);
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 32px;
}
.testimonialCard .testRight .ratings{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    padding-bottom: 32px;
}
.testimonialCard .testRight h3{
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 8px;
}
.testimonialCard .testRight h3 + p{
    font-size: 14px;
    line-height: 22px;
}

/* ============================================
                   Blog 
============================================ */
.blog{
    min-height: 100vh;
}
.blog .sectionHeading{
    margin-bottom: 64px;
}
/* .blogCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
} */
.blogCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}
.blogCard{
    padding:5px 10px;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
}
.blogCard:hover{
    box-shadow: var(--MainColor) 0px 22px 70px 4px;
    /* rgba(0, 0, 0, 0.56) */
}
.blogTop{
    margin-bottom: 32px;
    display: block;
}
.blogTop img{
    object-fit: cover;
    max-width: 272px;
    width: 100%;
}
.blogBottom .date{
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    opacity: 75%;
    padding-bottom: 16px;
}
.blogBottom h2{
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    padding-bottom: 16px;
} 
.blogBottom p{
    color: var(--SecondaryText);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    opacity: 75%;
    padding-bottom: 16px;
}
.blogBottom .readmore{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 10px;
    cursor: pointer;
}
.blogBottom .readmore a{
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: var(--MainColor);
}
/* ============================================
                   Contact Form 
============================================ */
.contact{
    background: rgba(238, 238, 238, 1);
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 128px 0;
}
.contact .sectionHeading{
    padding-top: 0px;
    margin-bottom: 32px;
}
.contactWrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 132px;
}
.contactLeft li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 32px;
}
.contactLeft li:not(:last-child){
    margin-bottom: 32px;
}
.contactLeft li .bgCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9def7;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    
}
.contactLeft li > p{
    color: var(--SecondaryText);
    font-weight: 600;
}
.contactRight{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 373px;
}
.contactRight input[type="Text"],input[type="email"], textarea{
    font-family: "Hebbo", sans-serif;
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 22px;
    padding: 21px;
    border-radius: 32px;
    width: 100%;
    /* min-width: 373px; */
    color: var(--SecondaryText);
}
.contactRight input[type="Text"]::placeholder,input[type="email"]::placeholder, textarea::placeholder{
    color: var(--SecondaryText);
}
.contactRight textarea{
    margin-bottom: 32px;
}
.contactRight .btn{
    padding: 22px;
    margin-bottom: 0px;
    border-radius: 32px;
    width: 100%;
}
.contactRight .btn:hover{
    box-shadow: 5px 5px 18px ;
}
/* ============================================
                   Footer 
============================================ */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 128px 0;
}
.footer .logo{
    color: var(--MainColor);
}
.footer .navLinks{
    padding: 16px 0;
}
.footer .navLinks a{
    color: var(--SecondaryText);
    opacity: 75%;
}
.footer p{
    color: var(--SecondaryText);
    opacity: 75%;
}
/* ============================================
                   Media Queries 920px
============================================ */
@media(max-width:992px){
    .container{
        max-width: 950px;
    }
    .navBar{
        max-width: 960px;
        padding: 0 20px;
    }
    .navBar .navLinks{
        display: none;
    }
    .navBar .MobileMenu{
        display: block;
        padding: 32px 0;
        cursor: pointer;
    }
    .bannerMain{
        margin-top: -84px;
    }
    .bannerContent h1 {
        font-size: 54px;
        line-height: 64px;
    }
    .featureItem{
        gap: 80px;
    }    
    .featureItem .featureRight img{
        max-width: 350px;
    }
}
/* ============================================
                   Media Queries 767
============================================ */
@media(max-width:767px){
    .container{
        max-width: 720px;
    }
    p{
        font-size: 14px;
        line-height: 18px;
    }
    .featureItem .featureLeft .sectionHeading h3,
    .sectionHeading h3 {
        font-size: 32px;
        line-height: 38px;
    }
    .sectionHeading h2 {
        font-size: 12px;
        line-height: 16px;
    }
    .bannerContent h1 {
        font-size: 34px;
        line-height: 44px;
    }
    .servicesItems{
        gap: 60px;
    }
    .servicesItems {
        flex-direction: column;
        width: 60%;
        margin: 0 auto 128px;
    } 
    .servicesItems .servicesItem .itemlogo {
        width: 50px;
        height: 50px;
    }
    .servicesItems .servicesItem .itemlogo svg{
        width: 25px;
        height: 25px;
    }

    .featureWrapper{
        gap: 80px;
    }
    /* .featureItem .featureLeft{
        max-width: 100%;
    }
    .featureItem .featureLeft:nth-child(2){
        max-width: 100%;
    } */
    .featureItem .featureRight img{
        max-width: 100%;
    }
    .featureWrapper .featureItem{
        flex-direction: column-reverse;
        gap: 32px;
    }
    .featureWrapper .featureItem:last-child{
        flex-direction: column;
        gap: 32px;
    }
    .featureItem .featureRight img{
        box-shadow: 24px 24px var(--MainColor);
    }
    .featureItem:nth-child(2) .featureRight img{
        box-shadow: -24px -24px var(--MainColor);
    }
    .testimonialCard{
        padding: 32px;
    }
    /* .blogCards{
        flex-direction: column;
        margin: 0px auto;
    } */
    .blogCards{
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 128px;
    }
    .blogCard .blogTop img{
        max-width: 100%;
    }
    .contact{
        padding: 64px 0;
    }
    .contactWrapper{
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
    .contactRight input[type="Text"], input[type="email"], textarea{
        max-width: 100%;
    }
    .footer .navLinks a{
        padding: 6px 10px;
    }
}
@media(max-width:576px){
    .footer .navLinks{
        flex-direction: column;
    }
    .testimonialCard{
        flex-direction: column;
    }
    .contactRight{
        width: 300px;
    }
    .contactRight input[type="Text"],input[type="email"], textarea{
        font-size: 14px;
        line-height: 20px;
        padding: 16px;
    }
    .blogCards{
        grid-template-columns: repeat(1, 1fr);
    }
    .blogCard{
        max-width: 73px;
        margin: 0px auto;
    }
    .blogCard .blogTop img{
        /* max-width: 20%; */
    }
}